@charset "utf-8";

@media screen and (max-width:768px){

    /* header */
    #header{top:0;z-index: 99999;}
    #header .lang{display: none;}
    #header .navbarWrap{
        width: 100%;padding:0 20px
    }
    #header .navbar{
        position: fixed;margin:initial;
        width: 100%;height: 100%;
        background: skyblue;
        top:0;left: 0;display: none;
    }
    #header .navbar ul{
        display: block;width:initial;
    }

    .toggle{
        display: block;position: fixed;top:18px;right:16px;
        width: 24px;height: 24px;
        display: flex;justify-content: center;align-items: center;
        }
    .toggle div{
        width: 20px;height: 2px;background: #000;
        position: absolute;transition:0.3s;cursor: pointer;
    }
    .toggle .bar1{transform: translateY(-6px);}
    .toggle .bar3{transform: translateY(6px);}

    .toggle.active .bar1{transform: rotate(45deg) translateY(0);}
    .toggle.active .bar2{opacity:0}
    .toggle.active .bar3{transform: rotate(-45deg)  translateY(0);}
    




    /* visual */
    .visualWrap{height: 400px;}
    .visualWrap .sImg{height: 400px;min-height: initial;}
    .visualWrap .bx-wrapper .bx-pager{bottom:10px}
    .visualWrap .txtBody{text-align: left;transform: translateY(0);}
}